<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="internalOnly"
    package="com.example.cydianativehook"
    android:versionCode="2"
    android:versionName="10.23" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

   <application android:hasCode="false">
    </application>
	
    <uses-permission android:name="cydia.permission.SUBSTRATE"/>
    
</manifest>
